$primary-color-bg-auth: rgba(18, 18, 24, 0.96);
$secondary-color-bg-auth: #2e3049;
$border-auth-color: #4e4e4e;
$primary-color-blue: #0085ff;
$primary-color-grey: #959595;
$standart-white: #fff;
$outline-auth-form: #55bb07;
